html , body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: rgb(253, 251, 251);
  font-size : 3.4vmax;
  overflow: visible;


}

#cabecalho {
  position: fixed;
  top: 0;
  left: 15%;
  right: 15%;
  color: rgba(112, 68, 136, 0.808);
  line-height: 1.3;
  background-image: url('https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  z-index: 11;
  margin: 0;
  padding: 0;
  max-height: 40%;
}

#titulo {
  position: relative;
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: 900;
  background-color: rgba(47, 193, 140, 0.795);
  width: 100%;
  opacity: 0.6;
  z-index: 3;
  height: 85%;
  font-size : 2.1vmax;

}

#sub-titulo {
  position: relative;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0%;
  background-color: rgba(47, 193, 140, 0.74);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 5.5px;
  opacity: 0.75;
  z-index: 2;
  height: 100%;
}

.bottom-projeto {
  position: relative;
  border: 10px solid rgba(98, 37, 116, 0.438);
  background-color: rgba(77, 7, 99, 0.233);
  border-radius: 10px;
  z-index: 400;
  visibility: visible;
  height: 35%;
  margin: 0;
  padding: 0;
  margin-top: 2%;

}

.projeto {
  position: relative;
  font-family: Abril Fatface, cursive;
  font-size: 3vmax;
  letter-spacing: 0.25vw;
  color: rgba(72, 201, 154, 0.534);
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(137, 43, 226, 0.315);
  height: 100%;
  width: 100%;


}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: initial;
  width: 100%;
  height: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.section-nav-bar-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  position: initial;
  z-index: 1;
  max-width: 32%;
  top: -10%;
  border: 2px double blue;
  padding: 5%;

}

.nav-bar-menu {
  display: flex;
  position: relative;
  width: 100%;
}

.box-licoes-aprendidas {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 50%;
}

.box-licoes-a-aprender {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 50%;

}

#titulo-licoes-aprendida , #titulo-licoes-a-aprender {
  position: relative;
  font-size: 2vmin;
  background-color: rgba(47, 193, 140, 0.315);
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(6, 94, 61);
}


#licoes_aprendidas {
  position: relative;
  border: 4px solid rgba(11, 54, 39, 0.37);
  float: left;
  padding: 0;
  margin: 0;
  font-size: 1.8vmin;
  font-weight: 500;
  list-style: none;
  background-color: rgb(3, 107, 82);
  color: rgb(47, 193, 140);
  border-radius: 15px;
  text-align: left;
  visibility: visible;
  height: 100%;
  margin-right: 5%;
  background-image: linear-gradient ( to top , rgb(3, 107, 82) rgb(11, 54, 39));
}

li {
  margin-top: 5%;
  letter-spacing: 1%;
}

#licoes_a_aprender {
  position: relative;
  border: 2px solid rgba(168, 15, 160, 0.349);
  padding: 0;
  margin: 0;
  font-size: 1.8vmin;
  font-weight: 500;
  list-style: none;
  background-color: rgb(3, 107, 82);
  color: rgb(47, 193, 140);
  border-radius: 15px;
  text-align: right;
  visibility: visible;
  margin-left: 5%;
  height: 100%;
}

.box-foto-suelen {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  float: top;
  border-bottom: 10px solid #41197f;
  background-color: #42197fc4;
}

#minha_foto {
  position: relative;
  width: 100%;
  align-self: top;
  padding: 0;


}

.container_article_aside {
  border: 5px solid  rgba(252, 9, 191, 0.199);
  position: relative;
  width: 65%;
  display: inline-block;
  top: 18%;
  left: 17%;
  height: 2000px;
}

.lado-esquerdo {
  position: relative;
  text-align: justify;
  width: 40%;
  float: left;
  font-size: 17px;
  padding: 4%;
  margin-right: 10%;
}

.lado-direito {
  position: relative;
  border: 5px double rgb(137, 43, 226);
  text-align: center;
  width: 30%;
  margin-left: 10%;
  display: flex;
  font-size: 45%;
  padding-top: 29%;
  max-height: 45%;
  border-radius: 1%;
}

.box-foguete {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 20%;
  top: 90%;
  left: 60%;
  z-index: 80;
}

#foguete {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

#rodape {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 1500px;
  background-color: rgba(53, 46, 94, 0.89);
  width: 100%;
  height: 10%;
  margin-bottom: 10%;
  text-align: right;
  left: 0;
  margin-left: 0;
  margin-right: 3%;
}

#imagem-do-rodape {
  position: relative;
  display: flex;
  margin-right: 25%;
}

#texto-rodape {
  font-family: Exo, sans-serif;
  color: rgb(53, 46, 94, 0.89);
  font-size: 1.3vmax;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  margin-left: 9%;
  margin-right: 25%;
  padding: 0;
  padding-top: 1.5%;
}
